<%- include("partials/header"); -%>
<h1>Home</h1>
<p><%=home_text%></p>

<% allPosts.forEach(function(feeds){ %>
    <h1>
        <%= feeds.title%>
    </h1>
    <p>
        <%=feeds.content.substring(0,100) +"..." %>
        <a href="/posts/<%=feeds._id%>">Read more</a>
    </p>
<% })                                %>

<%-include("partials/footer");-%>
