<%- include("header") -%>
    <div class="box" id="heading">
         <h1><%=listTitle%></h1>
    </div>
   
    <div class="box">
        <%for(var i=0;i<myTask.length;i++){ %>
            <div class="item">
                <input type="checkbox" name="" id="">
                <p> <%=myTask[i]%></p>
            </div>
        <%} %>
        
        <form class="item" action="/" method="post">
            <input type="text" name="dailyTask" id="dailyTask" placeholder="Add new tasks ..." autocomplete="off">
            <button type="submit" name="list" value="<%=listTitle%>">
                <span class="xs material-symbols-outlined">
                    add
                </span>
            </button>
        </form>
    </div>
  <%- include("footer") -%>